/* img{
    height:170px;
    
    top: -17px;
    width: 100%;
    float: left;
} */
.imgHome{
    width:700px;
    height:400px;
}
.imgArt{
    width:500px;
    height:auto;
}
a{
    text-decoration: none;
}