.artists_img{
    width:180px;

  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: transform .2s;
 
}
.disc{
  width:500px;
  height:300px;
}
.artists_img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

  .card {
    width: 250px;
   height:auto;
   }
   .img-cart{
    width: 100px;
    height:auto;
    }
    .form{
padding-left: 300px;
padding-right:300px
    }
 